body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ADD8E6; /* Light Blue */
  background-color: #000000; /* Black */
}

header {
  background-color: #191970; /* Midnight Blue */
  padding: 1rem 0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1.logo {
  font-size: 2rem;
  color: #FFFFFF; /* White */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #FFFFFF; /* White */
}

.home {
  padding: 2rem;
  text-align: center;
  background-color: #00008B; /* Navy */
  margin: 1rem auto;
  max-width: 600px;
  border-radius: 5px;
}

h1 {
  color: #708090; /* SlateGray */
}

p {
  color: #4169E1; /* Royal Blue */
}